/* CSS Reset Setting
Reference: https://meyerweb.com/eric/tools/css/reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, span,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear anchor tag properties */
a:link {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}

:root {
    /* Color Setting Manual 
        bg: Background
        b: Border
        c: Color
        sectionA: include AppName/MainPage
        sectionB: include Report, Shop, Inventory and Settings
    */
    --bg-background: rgba(0, 0, 0, 0.735);
    --b-navigationBar: rgba(128, 128, 128, 0.434);
    
    --bg-sectionA:black;
    --c-sectionA: white;
    
    --bg-sectionB: rgb(97, 97, 97);
    --c-sectionB: white;

    --bg-mainMenu: white;
    --b-mainMenu: transparent;

    --c-button: rgba(128, 128, 128, 0.5); 
    --c-buttonHover: rgba(128, 128, 128, 0.7);
    --c-buttonText: white;

    --bg-SectionBDisplay: white;
    --b-SectionBDisplay: transparent;

<<<<<<< HEAD
	--c-chatBubble: rgb(165, 206, 230);
	
=======

	  --c-chatBubble: rgb(165, 206, 230);
>>>>>>> 50a6b4ae8cc08a76957ccdc0a243cfdff26dc921
    --ff-TimerFont : 'Roboto', sans-serif;
    --b-TimerBox: transparent;
}

body {
    /* Centring the elements */
    max-width: 80%;
    margin: 0 auto;
    color: white;
    background-color: var(--bg-background);
}

.navBar {
    /* maximum height of NavBar */
    height:60px;

    display: flex;
    border-bottom: 4px solid var(--b-navigationBar);
}

.navBar__sectionA {
    /* Percentage of area cover by section in NavBar */
    width: 35%;
    height: 100%;

    color: var(--c-sectionA);
    /* Centring the elements */
    display: flex;
    align-items: center;
}


.navBar__sectionB {
    /* Percentage of area cover by section in NavBar */
    width: 65%;
    height: 100%;

    color: var(--c-sectionB);
    /* Centring and moving elements to right side */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navBar__sectionA h3 , .navBar__item{
    /* Adding Style to elements of NavBar*/
    /* border: 1px solid grey; */
    padding:10px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.navBar__sectionA h3 {
    background-color: var(--bg-sectionA);
}

.navBar__item {
    background-color: var(--bg-sectionB);
}

.navBar__item:not(:last-child) {
    /* Spacing on the right of the SectionB elements */
    margin-right: 8px;
}

.navBar__item i {
    /* Spacing between icon and text */
    padding-right: 2px;
}

/* fixing row format for section B elements */
.navBar__item--report {
    display: flex;
    flex-direction: row;
}

.navBar__item--shop {
    display: flex;
    flex-direction: row;
}

.navBar__item--inventory {
    display: flex;
    flex-direction: row;
}

.navBar__item--settings {
    display: flex;
    flex-direction: row;
}

main {
    /* maximum height of main */
    height: 590px;
}

.main__items {
    height: 98%;
    width: 100%;
    /* centring elements inside main items */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling main menu */

.main__item--menu {

    background-color: var(--bg-mainMenu);

    height: 96%;
    width: 100%;

    border-radius: 5px;
    border: 4px solid var(--b-mainMenu);

    display: flex;
}

/* left and right box */
.main__item--menu .rightBox, .main__item--menu .leftBox {
    width: 50%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

/* chat box (within right box) */
.chatBox {
    width: 90%;
    height: 82.5%;
	display: flex;
	flex-direction: column;
    border: 1px dotted rgba(128, 128, 128, 0.4);
	margin-right: 2.5%;
	overflow-y: scroll;
	justify-content: flex-end;
	align-items: flex-start;
}

.buttonsBox {
    width: 90%;
    height: 7.5%;
	margin-right: 2.5%;
    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.timerBox, .companionBox {
    margin-left: 2.5%;
}

/* These are our chat bubbles - they appear when you click any of the chat input buttons.
    (display: none; because it wont be showed initially.) */
.createTask, .createGoal, .startBreak {
    display: none;
	position: relative;
	font-family: 'Varela Round';
    color: black;
    margin: 2%;
    background-color: var(--c-chatBubble);
	border: 2px solid var(--c-chatBubble);
	border-radius: 15px;
	padding: 15px;
	text-align: center;
	margin-left: 15px;
}

/* Little arrow for the chat bubble styling */
.chatBubblePointer:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid var(--c-chatBubble);
	border-top: 0.7em solid transparent;
	border-bottom: 0.7em solid transparent;
	margin-top: -0.7em;
	margin-left: -24px;
}

.goalNameField, .goalTimeField {
    margin-bottom: 10%;
}

#timepicker-selectbox, #gname {
    margin-top: 1%;
}

#timepicker-selectbox {
    width: 58%;
}

#gname {
    width: 100%;
}

.createGoal button {
    height: auto;
    width: auto;
    font-size: x-small;
    background-color: var(--c-button); 
    border-radius: 5px;
    color: var(--c-buttonText);
    cursor: pointer; /* Pointer/hand icon */
}

/* Chat buttons */
.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--c-buttonHover);
}

.btn-group button {
    cursor: pointer;
    height: 80%;
    width: 32%;
    background-color: var(--c-button); 
    border-radius: 5px;
    color: var(--c-buttonText);
    cursor: pointer; /* Pointer/hand icon */
}
    
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--c-buttonHover);
}

/* left box */
.timerBox {
    width: 90%;
    height: 35%;

    /* Alignment of timer in centre */
    display: flex;
    flex-wrap: wrap;

   /* border: 1px dotted var(--b-TimerBox);*/
    border: 1px dotted transparent;
}

/* Styling the timer */

#timer {
    color: black;
    width: 79%;
    height: 56%;
    margin: 1% 0;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--ff-TimerFont);
    font-size: 5.6em;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 4px;
}

.timerBtngrp {
    width: 20%;
    height: 60%;
}

.timerBtngrp #startStop, .timerBtngrp #skip {
    width: 90%;
    margin-left: 5%;
    height: 45%;
    margin-top: 5%;
    font-size: 2em;
    border: transparent;
}

#startStop:hover , #skip:hover{
    background-color: var(--c-buttonHover);
}

.timerContent {
    width: 98%;
    height: 38%;
    margin-bottom: 2%;
    margin-left: 1%;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 4px;
}

.timerContent h4 {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: var(--ff-TimerFont);
}

.currentGoal, .currentTask {
    margin-top: 1%;
    margin-left: 2%;
}

.companionBox {
    width: 90%;
    height: 55%;

    /* Alignment of companion in centre */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.companion {
    max-height:100%;
    overflow: hidden;
}

/* Stying the Trends page */ 
.main__item .main__item--report {
    vertical-align: top;
    text-align: left;
    color: black;
    padding: 10px;
    position: relative;

    display: flex;
}

.trends__chart, .trends__summaryBox, .trendsBar, .trends__dateNavBar {
    width: 75%; 
}

.trends__chart, .trendsBar, .trends__dateNavBar, .trends__summaryBox {
    margin: auto;
}

.trends__chart, .trends__summaryBox {
    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.trends__chart {
    height: 60%; 
}

.trendsBar {
    display: flex;
    justify-content: right;
}

.trendsBar__items {
    color: var(--c-sectionA);
    display: flex;
    align-items: center;
}

.trendsBar__item {
    padding:10px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0 0 5px; 
    background-color: var(--bg-sectionB);
}

.trends__dateNavBar {
    height: 7.5%;
    display: flex;
    justify-content: right;
}

.trends__currDate {
    margin: 5px 5px; 
    color: black;
    text-align: center;
    white-space: nowrap;
}

.trends__summaryBox { 
    height: 15%; 
}

/* .main__item--shop {
}

.main__item--inventory {
}

.main__item--settings {
} */

/* Display none for all child element excent main menu as default */
.main__items >:not(:first-child) {
    display: none;
    height: 96%;
    width: 100%;

    background-color: var(--bg-SectionBDisplay);
    border: 4px solid var(--b-SectionBDisplay);

    border-radius: 5px;
}

/* Maximum width of app will be 720px */
@media (min-width: 900px) {
    body {
        max-width: 720px;
    }
}

@media (max-width: 650px) {
    body {
        max-width: 90%;
    }
}


@media (max-width: 825px) {
    #timer {
        font-size: 5em;
    }
}

@media (max-width: 750px) {
    #timer {
        font-size: 4.5em;
    }
}

/* Responsive to Small Window */
@media (max-width: 720px) {

    .navBar__item h3 {
        display: none;
    }

    main {
        height: 472px;
    }

    .rightBox .chatBox {
        height: 70%;
    }

    .rightBox .buttonsBox {
        height: 10%;
    }

    .leftBox .timerBox {
        height: 30%;
    }

    .leftBox .companionBox {
        height: 50%;
    }


    .timerBtngrp i {
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 600px) {
    #timer {
        font-size: 3.5em;
    }
}

/* Responsive more smaller devices */
@media (max-width: 325px) {
    body {
        max-width: 98%;
    }

    .navBar__item:not(:last-child) {
        margin-right: 2px;
    }

    #timer {
        font-size: 2em;
    }
}

/* temporary code */
.main__items h3 {
    color: black;
    font-size: 2em;
}
