/* CSS Reset Setting
Reference: https://meyerweb.com/eric/tools/css/reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, span,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear anchor tag properties */
a:link {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}

:root {
    --c-background: #CEE5D0;
    --c-board: rgba(56, 56, 24, 0.308);
    --c-main: #F3F0D7;
    --c-navBar: #F3F0D7;

    --c-navItemHover: #EED6C4;
    --c-navItem: #483434;
    --c-button:#F3F0D7; 
    --c-buttonHover: #EED6C4;
    --c-buttonText: #483434;
}

body {
    /* Centring the elements */
    max-width: 80%;
    margin: 0 auto;
}

.navBar {
    /* maximum height of NavBar */
    height:60px;

    display: flex;
    border-bottom: 4px solid grey;
}

.navBar__sectionA {
    /* Percentage of area cover by section in NavBar */
    width: 35%;
    height: 100%;
    /* Centring the elements */
    display: flex;
    align-items: center;
}


.navBar__sectionB {
    /* Percentage of area cover by section in NavBar */
    width: 65%;
    height: 100%;
    /* Centring and moving elements to right side */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navBar__sectionA h3 , .navBar__item{
    /* Adding Style to elements of NavBar*/
    border: 1px solid grey;
    padding:8px 10px;
    border-radius: 4px;
}

.navBar__item:not(:last-child) {
    /* Spacing on the right of the SectionB elements */
    margin-right: 8px;
}

.navBar__item i {
    /* Spacing between icon and text */
    padding-right: 2px;
}

/* fixing row format for section B elements */
.navBar__item--report {
    display: flex;
    flex-direction: row;
}

.navBar__item--shop {
    display: flex;
    flex-direction: row;
}

.navBar__item--inventory {
    display: flex;
    flex-direction: row;
}

.navBar__item--settings {
    display: flex;
    flex-direction: row;
}

main {
    /* maximum height of main */
    height: 590px;
}

.main__items {
    height: 98%;
    width: 100%;

    /* centring elements inside main items */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the timer */
.timer { 
    font-size: 250%;
    font-family: 'Varela Round', sans-serif;
}

/* Styling main menu */
.main__items >:not(:first-child) {
    margin-top: 2%;
}

.main__item--menu {
    height: 96%;
    width: 100%;

    border-radius: 5px;
    border: 1px dotted rgba(128, 128, 128, 0.4);

    display: flex;
}

.main__item--menu .rightBox, .main__item--menu .leftBox {
    width: 50%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

/* Right Box */
.chatBox {
    width: 90%;
    height: 82.5%;

    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.buttonsBox {
    width: 90%;
    height: 7.5%;

    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.chatBox ,.buttonsBox {
    margin-right: 2.5%;
}

.timerBox, .companionBox {
    margin-left: 2.5%;
}

/* This is will appear inside the chatBox when clicking the button
    (display: none; because it wont be showed initially.) */
.createTask, .createGoal, .startBreak{
    display: none;
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: #ee9458;
}

/* Chat buttons */
.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--c-buttonHover);
    }

.btn-group button {
    height: 80%;
    width: 32%;
    background-color: var(--c-button); 
    border-radius: 5px;
    color: var(--c-buttonText);
    cursor: pointer; /* Pointer/hand icon */
}
    
/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* left box */
.timerBox {
    width: 90%;
    height: 20%;

    /* Alignment of timer in centre */
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.companionBox {
    width: 90%;
    height: 70%;

    /* Alignment of companion in centre */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.companion {
    max-height:100%;
    overflow: hidden;
}

.main__item--report {
    border: 1px dotted purple;
}

.main__item--shop {
    border: 1px dotted green;
}

.main__item--inventory {
    border: 1px dotted red;
}

.main__item--settings {
    border: 1px dotted chocolate;
}

/* Display none for all child element excent main menu as default */
.main__items >:not(:first-child) {
    display: none;
    height: 98%;
    width: 98%;

    border-radius: 5px;
}

/* Maximum width of app will be 720px */
@media (min-width: 900px) {
    body {
        max-width: 720px;
    }
}

@media (max-width: 650px) {
    body {
        max-width: 90%;
    }
}

/* Responsive to Small Window */
@media (max-width: 720px) {

    .navBar__item h3 {
        display: none;
    }

    main {
        height: 472px;
    }

    .rightBox .chatBox {
        height: 70%;
    }

    .rightBox .buttonsBox {
        height: 10%;
    }

    .leftBox .timerBox {
        height: 20%;
    }

    .leftBox .companionBox {
        height: 60%;
    }
}

/* Responsive more smaller devices */
@media (max-width: 325px) {
    body {
        max-width: 98%;
    }

    .navBar__item:not(:last-child) {
        margin-right: 2px;
    }
}
