/* CSS Reset Setting
Reference: https://meyerweb.com/eric/tools/css/reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, span,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear anchor tag properties */
a:link {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}

/* MAIN CODE START HERE */

/* variable declaration */
:root {
    --c-background: #CEE5D0;
    --c-board: rgba(56, 56, 24, 0.308);
    --c-main: #F3F0D7;
    --c-navBar: #F3F0D7;

    --c-navItemHover: #EED6C4;
    --c-navItem: #483434;
    --c-button:#F3F0D7; 
    --c-buttonHover: #EED6C4;
    --c-buttonText: #483434;
}

body {
    background-color: var(--c-background);
}

/* Main board Styling */
.board {

    /* Board dimensions */
    width: 60vw;
    height: 500px;

    padding: 5px;
    border-radius: 5px;

    background-color: var(--c-board);

    /* Centring the board*/
    margin: 0 auto;
    margin-top: 5vh;

    /* SubClass Alignment */
    display: flex;
    justify-content: space-between;
    
}

.mainDisplay {
    /* main menu dimensions */
    height: 100%;
    width: 89%;

    border-radius: 5px;

    background-color: var(--c-main);
}

.navBar {

    /* Navigation Bar dimensions */
    height: 100%;
    width: 10%;
}

.navItems {
    /* List dimensions*/
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.navItem {
    /* Item dimensions */
    width: 100%;
    background-color: var(--c-navBar);
}

.navItems h3{
    font-weight: bold;
}

.navItem {
    /* Centring Items inside box */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    color: var(--c-navItemSecondary);
}


/* Percentage of Area of chat, report and shop button over the navigation bar */
.navItems .mainChatButton , .navItems .reportButton, .navItems .shopButton{
    height: 10%;
}

/* Percentage of Area of empty space over the navigation bar */
.navItems .emptySpace {
    height: 56%;
}


/* Percentage of Area of setting button over the navigation bar */
.navItems .settingsButton {
    height: 10%;
}

/* size of icons */
.navItem i {
    font-size: 2em;
}

/* Can hover all nav item except empty space */
.navItem:hover:not(:nth-child(4)) {
    background-color: var(--c-navItemHover);
    cursor: pointer; /* Pointer/hand icon */
}

/* Styling main menu */

/* main menu cover whole main display area */
.mainMenu {
    width: 100%;
    height: 100%;

    display: flex;
}

.mainMenu .rightBox ,.mainMenu .leftBox {
    width: 50%;
    height: 100%;

    /* Aligning the elements on right and left side */
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

/* Main menu right side */

/* Percentage of Area of chatBox Box over the right side */
.chatBox {
    width: 90%;
    height: 80%;
}

/* Percentage of Area of button Box over the right side */
.buttonsBox {
    width: 90%;
    height: 10%;
}

/* Main Menu left side */

.timerBox {
    /* Percentage of Area of timer Box over the left side */
    width: 90%;
    height: 30%;

    /* Alignment of timer in centre */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Percentage of Area of Companion Box over the left side */
.companionBox {
    width: 90%;
    height: 60%;
}

/* Border settings for all elements in main menu */

.chatBox ,.buttonsBox, .timerBox, .companionBox {
    border: 1px dotted grey;
    border-radius: 5px;
}

/* Chat buttons */

.btn-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-group button {
    height: 80%;
    width: 30%;
    background-color: var(--c-button); 
    border-radius: 5px;
    color: var(--c-buttonText);
    cursor: pointer; /* Pointer/hand icon */
}
    
/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}
  
/* Add a background color on hover */
.btn-group button:hover {
background-color: var(--c-buttonHover);
}

/* Resposive to Window */
@media (min-width: 1100px) {

   .board {
        width: 660px;
   }
}

/* Temporary turned off*/
.report , .shop, .settings{
    display: none;
}
