/* CSS Reset Setting
Reference: https://meyerweb.com/eric/tools/css/reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, span,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear anchor tag properties */
a:link {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}

:root {
    /* Color Setting Manual 
        bg: Background
        b: Border
        c: Color
        sectionA: include AppName/MainPage
        sectionB: include Goals, Report, Shop, Inventory and Settings
    */
    --bg-background: rgba(0, 0, 0, 0.735);
    --b-navigationBar: rgba(128, 128, 128, 0.434);
    
    --bg-sectionA:black;
    --c-sectionA: white;
    
    --bg-sectionB: rgb(97, 97, 97);
    --c-sectionB: white;

    --bg-mainMenu: transparent;
    --b-mainMenu: transparent;

    --c-button: rgba(128, 128, 128, 0.5); 
    --c-buttonHover: rgba(128, 128, 128, 0.7);
    --c-buttonText: white;

    --bg-SectionBDisplay: white;
    --b-SectionBDisplay: transparent;

	--c-chatBubble: rgb(165, 206, 230);

	--inventoryBoxes: rgb(141, 141, 141);

	--accentColor-first: rgb(255, 255, 255);
	
    --ff-TimerFont : 'Roboto', sans-serif;
    --b-TimerBox: transparent;
}

body {
    /* Centring the elements */
    max-width: 90%;
    margin: 0 auto;
    color: white;
    background-color: var(--bg-background);
}

/* NAVIGATION BAR STYLING */

.navBar {
    /* maximum height of NavBar */
    height:60px;

    display: flex;
    border-bottom: 4px solid var(--b-navigationBar);
}

.navBar__sectionA {
    /* Percentage of area cover by section in NavBar */
    width: 35%;
    height: 100%;

    color: var(--c-sectionA);
    /* Centring the elements */
    display: flex;
    align-items: center;
}

.navBar__sectionB {
    /* Percentage of area cover by section in NavBar */
    width: 65%;
    height: 100%;

    color: var(--c-sectionB);
    /* Centring and moving elements to right side */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navBar__sectionA h3 , .navBar__item{
    /* Adding Style to elements of NavBar*/
    /* border: 1px solid grey; */
    padding:10px 12px;
    border-radius: 4px;
    cursor: pointer;
	font-family: var(--ff-TimerFont);
}

.navBar__sectionA h3 {
    background-color: var(--bg-sectionA);
}

.navBar__item {
    background-color: var(--bg-sectionB);
}

.navBar__item:not(:last-child) {
    /* Spacing on the right of the SectionB elements */
    margin-right: 8px;
}

.navBar__item i {
    /* Spacing between icon and text */
    padding-right: 2px;
}

/* fixing row format for section B elements */
.navBar__item--report {
    display: flex;
    flex-direction: row;
}

.navBar__item--inventory {
    display: flex;
    flex-direction: row;
}

.navBar__item--settings {
    display: flex;
    flex-direction: row;
}

.navBar__item--goals {
    display: flex;
    flex-direction: row;
}

.navBar__item--goals {
    display: flex;
    flex-direction: row;
}

/* MAIN ITEMS STYLING */

main {
    /* maximum height of main */
    height: 590px;
}

.main__items {
    height: 98%;
    width: 100%;
    /* centring elements inside main items */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling main menu */

.main__item--menu {

    background-color: var(--bg-mainMenu);

    height: 96%;
    width: 100%;

    border-radius: 5px;
    border: 4px solid var(--b-mainMenu);

    display: flex;
}

/* left and right box */
.main__item--menu .rightBox, .main__item--menu .leftBox {
    width: 50%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke; 
  }


.chatBox__msgBox {
    float: right;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 4px;
}
/* 
.goalForm {
    border: 1px solid red;
    color: black;
    width: 80%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.goalFormTimer {
    width: 15%;
    height: 20%;
}

.goalForm label{
    margin-top: 5px;
}

.submitFormButton {
    margin-top: 5px;
} */

/* chat box (within right box) */
.chatBox {
    margin-top: 1%;
    width: 90%;
    height: 86%;
    border: 3px solid rgb(172, 172, 172);
	overflow-y: scroll;
    padding: 2%;
    border-radius: 10px;
}

.buttonsBox {
    border:3px solid rgb(172, 172, 172);
    padding: 2%;
    border-radius: 6px;
    width: 90%;
    height: 10%;
    /* background-color: rgb(238, 238, 238); */
}

/* These are our chat bubbles - they appear when you click any of the chat input buttons.
    (display: none; because it wont be showed initially.) */
/* .createTask, .createGoal, .startBreak {
    display: none;
	position: relative;
	font-family: 'Varela Round';
    color: black;
    margin: 2%;
    background-color: var(--c-chatBubble);
	border: 2px solid var(--c-chatBubble);
	border-radius: 15px;
	padding: 15px;
	text-align: left;
	margin-left: 15px;
} */

.welcome {
    display: block;
}

.createTask, .createGoal, .startBreak {
    display: none;
}

/* Little arrow for the chat bubble styling */
.chatBubblePointer:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid var(--c-chatBubble);
	border-top: 0.7em solid transparent;
	border-bottom: 0.7em solid transparent;
	margin-top: -0.7em;
	margin-left: -24px;
}

/* Stylizing Input forms */
.goalNameField, .goalTimeField, .breakDurationField, .taskNameField, .taskTimeField {
    margin-bottom: 10%;
}

#timepicker-selectbox-goals, #timepicker-selectbox-break, #timepicker-selectbox-task {
    width: 100%;
	margin-top: 1%;
}

#gname, #tname {
    width: 100%;
	margin-top: 2%;
}

/* .createGoal button, .startBreak button, .createTask button {
    height: auto;
    width: auto;
    font-size: x-small;
    background-color: var(--c-button); 
    border-radius: 5px;
    color: var(--c-buttonText);
    cursor: pointer; /* Pointer/hand icon
} */

.breakDurationField {
    margin-top: 10%;
}

.breakDurationField {
    margin-top: 10%;
}

/* Chat buttons */
.chat-btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--c-buttonHover);
}

.btn-group {
    height: 100%;
}

.btn-group button {
    cursor: pointer;
    height: 100%;
    width: 32.4%;
    background-color: rgb(194, 194, 194);
    border: 1.5px solid rgb(172, 172, 172);
    border-radius: 5px;
    color: rgb(65, 65, 65);
    font-weight: bold;
    cursor: pointer; /* Pointer/hand icon */
}
    
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(65, 65, 65);
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Disabled button */ 
button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* left box */
.timerBox {
    width: 95%;
    height: 42%;

    /* Alignment of timer in centre */
    display: flex;
    flex-wrap: wrap;

    font-family: var(--ff-TimerFont);

   /* border: 1px dotted var(--b-TimerBox);*/
    border: 1px dotted transparent;
}

/* Styling the timer */

#timer {
    color: black;
    width: 79%;
    height: 57%;
    margin-top: 0.9%;
    margin-right: 1%;
    background-color: rgb(172, 172, 172);
    border-radius: 4px;
}

#timer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;

    font-family: var(--ff-TimerFont);
    font-size: 5.6em;
    font-weight: bold;
}

.currentState {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}

.currentState .timerBreakState, .currentState .timerSessionState {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    height: 80%;

    font-family: var(--ff-TimerFont);
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid white;
    background-color: white;
}
.TBBtext, .TBStext {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.TSSoverlay, .TBSoverlay {
    width:0%;
    height: 100%;
    background-color: rgb(172, 172, 172);
}

.timerSessionState h2{

    font-size: 1em;
    color: black;
}

.timerBreakState h2 {
    font-size: 1em;
    color: rgb(172, 172, 172);
}

.timerBtngrp {
    width: 20%;
    height: 60%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.timerBtngrp #startStop, .timerBtngrp #skip {
    width: 90%;
    height: 45%;
    font-size: 2em;
    border-radius: 3px;
    border: transparent;
    background-color: rgb(172, 172, 172);
}

#startStop:hover , #skip:hover{
    background-color: var(--c-buttonHover);
}

.timerContent {
    width: 99%;
    height: 38%;
    margin-top: 1%;
    background-color: rgb(172, 172, 172);
    border-radius: 4px;
}

.timerContent h4 {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: var(--ff-TimerFont);
}

.currentGoal, .currentTask {
    margin-top: 1%;
    margin-left: 2%;
}

.companionBox {
    width: 94%;
    height: 55%;
    border: 4px solid rgb(172, 172, 172);
    border-radius: 6px;
    /* Alignment of companion in centre */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

    background-image: url(images/companion-bg.jpg);
    background-position: center;
    background-size: cover;
}

.companion {
    max-height:100%;
    overflow: hidden;
    position: relative;

    top: 65px;
}

/* Page Header for each page (includes title and back button) */
.page__header {
	height: 8%;
	align-items: center;
	display: flex;
	color: black;
	font-family: var(--ff-TimerFont);
	padding: 5px;
	border-radius: 5px;
	background-color: var(--accentColor-first);
}
.page__header__title {
	font-weight: 700;
	font-size: 30px;
	margin: auto;
}
.page__backButton {
	display:flex;
	flex-direction: row;
	font-size: 36px;
	color: black;
	background-color: var(--bg-mainMenu);
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
}

/* Stying the Trends page */ 
.main__item .main__item--report {
    vertical-align: top;
    position: relative;

    display: flex;
}

.trends__chart, .trends__summaryTitle, .trends__summaryBox, .trendsBar, .trends__dateNavBar {
    font-family: var(--ff-TimerFont);
    width: 93%; 
}

.trends__chart, .trendsBar, .trends__dateNavBar, .trends__summaryTitle, .trends__summaryBox {
    margin: auto;
}

.trends__chart, .trends__summaryBox {
    border: 1px dotted rgba(128, 128, 128, 0.4);
}

.trends__chart {
    height: 55%; 
}

.trendsBar {
    display: flex;
    justify-content: right;
}

.trendsBar__items {
    color: var(--c-sectionA);
    display: flex;
    align-items: center;
}

.trendsBar__item--daily, .trendsBar__item--monthly,.trendsBar__item--weekly {
    display: flex;
    padding:10px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0 0 7px; 
    background-color: var(--bg-sectionB);
}

.trendsBar__item--daily, .trendsBar__item--monthly {
    background-color: var(--bg-sectionB);
}

.trendsBar__item--weekly {
    background-color: black;
}

.trends__dateNavBar {
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.trends__currDate {
    margin: 5px 5px; 
    color: black;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.trends__summaryBox { 
    height: 12.5%; 
    Overflow-y:scroll;
}

.trends__summaryTitle { 
    font-size: 120%;
    background-color: #546a76;
    color: white;
    padding: 5px 0px 5px 8px;
}

.trends__chart--weekly, .trends__chart--daily, .trends__chart--monthly {
    width:100%;
    height:100%;
    display: flex;
}

#summaryBox { 
    border-collapse: collapse;
    width: 100%;
    color: black;
}

#summaryBox td, #summaryBox th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#summaryBox tr:nth-child(even){background-color: #f2f2f2;}
  
#summaryBox tr:hover {background-color: #ddd;}

#prevButton, #nextButton{
    width: 15%;
}

/* Stying the Settings page */ 

.settings__item {
    height: 90%;
    width: 80%;

    margin: auto;
    display: relative;
    justify-content: left;
    align-items: center;

    border-radius: 25px;
    background-color:rgb(187, 187, 187);
}

.settings__item--account, .settings__item--notification, .settings__item--advance {
    height: 30%;
    width: 75%;
    margin-top: 5px;
    border: 2px solid rgb(0, 0, 0);
    display: relative;
    justify-content: center;

}

#account, #notification, #advance{
    font-size: 1.5em;
    font-weight: bold;
    color: #141516;
    text-decoration: underline grey;
    display: flex;
    position: relative;
    justify-content: left;
    margin-top: 5px;
    margin-left: 10px;
}

.account__settings, .notification__settings, .advance__settings {
    height: 30%;
    width: 70%;
    margin-top: 5px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

.account__settings--profile{height: 30%;
    width: 90%;
    height: 60%;
}

.account__text{
    height: 90%;
    width: 70%;
    margin: auto;
    padding: 2%;
}

#username{
    font-size: 1.5em;
    font-weight: bold;
    color: #141516;
}

#change__user{
    font-size: 1em;
    margin-top: 2%;
    margin-left: 5%;
    color: #ffffff;
}


#sound, #volume, #dark__mode, #about{
    font-size: 1.5em;
    font-weight: bold;
    color: #141516;
    display: flex;
    justify-content: left;
    margin-top: 5px;
    margin-left: 10px;
}

.fa-info-circle{
    position: absolute;
    margin-left: 63%;  }

.switchWraper, .slideContainer {
    position: absolute;
    margin-left: 58%;    
}

.slideContainer{
    position: absolute;
    margin-left: 40%; 
}


/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #2196F3;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* Finish styling of Settings */

/* Display none for all child element excent main menu as default */
.trends__chart >:not(:first-child) {
    display: none;
}

/* Styling for Goals page*/
.goalsBody {
    font-family: 'Varela Round';
    padding: 2%;
}

/* for body of goals page */
.goalsBody {
    width: 98%;
    height: 85%;
    color: black;
	flex-direction: column;
	overflow-y: scroll;
}

/* for body of goals page */
.goalsBody .goal{
    margin-bottom: 4%;
}

/* for individual goal headers which includes the goal name and arrow down symbol */
.goalsBody label {
    display: flex;
    justify-content: space-between;
    font-size: large;
    width: 100%;
    cursor: pointer;
    padding: 0 2% 1% 2%;
}

/* for entire list of tasks for a goal on goals page*/
.goalsBody ul {
    display: none;
    width: 90%;
    justify-content:center;
    background-color: var(--c-chatBubble);
    padding: 2%;
    margin-left: 2%;
    outline-color: black;
    outline-width: 2px;
    outline-style: inset;
    font-size: medium;
    border-radius: 1px 1px 5px 5px;
}

/* for individual task rows for a goal's task list*/
.goalsBody li {
    display: flex;
    font-size: medium;
    justify-content: space-between;
    width: 100%;
}

.timeval {
    direction: rtl; /* pushes task duration to the right hand side of task row */
}

.goalsBody input:checked ~ ul{
    display: block; /* shows task list when goal header is clicked */
}

.goalsBody input {
    display: none; /* gets rid of checkbox for input element*/
}

/* the bar that represents the actual progress (lighter block) */
.progressbar {
    display: flex;
    background-color: var(--c-chatBubble);
    height: 100%;
    border-radius: 5px;
    z-index: 2; /* bring to front */
}

/* outline of the progress bar (darker block) */
.progressbar-container {
    width: 90%;
    margin-left: 2%;
    outline-style: inset;
    outline-color: black;
    outline-width: 2px;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    display: relative;
    z-index: 1;
}
 
/* for the progress bar and the progress percentage*/
.progress-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* adds dashed line in task lists */
.goaltimespent {
    border-top: 2px;
    border-style: dashed;
    padding-top: 2%;
    margin-top: 2%;
}

/* .main__item--shop {
}

.trends__chart--daily {
    width:100%;
    height:100%;
    display: none;
  
}

.trends__chart--monthly {
    width:100%;
    height:100%;
    display: none;
    
}

/* Display none for all child element excent main menu as default */
.trends__chart >:not(:first-child) {
    display: none;
}

/* --------------- STYLING THE INVENTORY PAGE ------------------ */
.inventory__page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 92%;
	padding: 5px;
	background-color: var(--bg-mainMenu);
	font-weight: 500;
}

.inventory__headline {
	width: 100%;
	height: 3%;
	font-family: var(--ff-TimerFont);
	font-size: large;
	margin-left: 10px;
	color: black;
	margin-top: 2px;
}

.inventory__featureBar {
	height: 45%;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-between;
}

.inventory__featureItem {
	width: 49%;
	height: 100%;
	border-style: solid;
	border-width: 5px;
	border-color: var(--inventoryBoxes);
	border-radius: 5px;
}

.inventory__categoryTitle {
	height: 3%;
	width: 100%;
	font-family: var(--ff-TimerFont);
	font-size: large;
	margin-left: 10px;
	color: black;
	font-size: 14px;
}

.inventory__categories {
	height: 55%;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
	background-color: var(--bg-mainMenu);
	justify-content: space-between;
}

.inventory__list {
	height: 43%;
	justify-items: left;
	background-color: var(--bg-mainMenu);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 5px;
}

.inventory__item {
	height: 100%;
	width: 32%;
	background-color: var(--bg-mainMenu);
	border-style: solid;
	border-width: 5px;
	border-color: var(--inventoryBoxes);
	border-radius: 5px;

}




/* Display none for all child element excent main menu as default */
.main__items >:not(:first-child) {
    display: none;
    height: 96%;
    width: 100%;

    background-color: var(--bg-SectionBDisplay);
    border: 4px solid var(--b-SectionBDisplay);

    border-radius: 5px;
}

/* Maximum width of app will be 720px */
@media (min-width: 900px) {
    body {
        max-width: 720px;
    }
}

@media (max-width: 650px) {
    body {
        max-width: 90%;
    }
}


@media (max-width: 825px) {
    #timer h1{
        font-size: 5em;
    }
}

@media (max-width: 750px) {
    #timer h1{
        font-size: 4.5em;
    }
}

/* Responsive to Small Window */
@media (max-width: 720px) {

    .navBar__item h3 {
        display: none;
    }

    main {
        height: 472px;
    }

    .rightBox .chatBox {
        height: 70%;
    }

    .rightBox .buttonsBox {
        height: 10%;
    }

    .leftBox .timerBox {
        height: 30%;
    }

    .leftBox .companionBox {
        height: 50%;
    }


    .timerBtngrp i {
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 600px) {
    #timer h1{
        font-size: 3.5em;
    }
}

/* Responsive more smaller devices */
@media (max-width: 325px) {
    body {
        max-width: 98%;
    }

    .navBar__item:not(:last-child) {
        margin-right: 2px;
    }

    #timer h1{
        font-size: 2em;
    }
}

/* temporary code */
.main__items h3 {
    color: black;
    font-size: 2em;
}

h5 {
    color: black;
}

.chatBox__createGoal, .chatBox__startSession, .chatBox__break{
    width: 90%;
    display: flex;
    flex-direction: column;
    border:1px solid rgba(128, 128, 128, 0.5);
    padding: 2%;
}

.chatBox__createGoal {
    height: 180px;
}

.chatBox__createGoal, .chatBox__startSession, .chatBox__break{
    color: black;
}

.chatBox__createGoal form, .chatBox__startSession form, .chatBox__break form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.chatBox__createGoal , .chatBox__startSession, .chatBox__break{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(240, 240, 240);
    font-family: var(--ff-TimerFont);
    font-weight: bold;
}

.chatBox__createGoal label, .chatBox__startSession label, .chatBox__break label{
    color: rgba(0, 0, 0, 0.8);
}

.goalFormTitle, .sessionFormTitle{
    display: flex;
    width: 100%;
    height: 28.5%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    padding-bottom: 8px;
}

.goalFormTitle {
    height: 24%;
}

.goalFormDuration {
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    padding-bottom: 10px;
}
.goalDurationH , .goalDurationM{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goalFormTitle input , .sessionFormTitle input{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    height: 100%;
}

.goalFormTitle input , .sessionFormTitle input{
    font-family: var(--ff-TimerFont);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.goalDurationH input, .goalDurationH label, .sessionFormTimer input, .sessionFormTimer label{
    width: 60%;
}

.goalDurationH input, .goalDurationM input, .sessionFormTimer input, .breakFormTimer input{
    height: 60%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-family: var(--ff-TimerFont);
}

.goalDurationH {
    border-right: 1px solid rgba(128, 128, 128, 0.4);
}

.goalDurationM input, .goalDurationM label{
    width: 60%;
}

.createGoalBtngrp input, .createGoalBtngrp button, .startSessionBtnGrp input, .startSessionBtnGrp button {
    width: 40%;
}

.createGoalBtngrp, .startSessionBtnGrp, .breakBtnGrp {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.createGoalBtngrp button, .startSessionBtnGrp button, .breakBtnGrp button {
    color: red;
}

.createGoalBtngrp button, .createGoalBtngrp input , .startSessionBtnGrp input, .startSessionBtnGrp button , .goalRelatedSession select, .breakBtnGrp button, .breakBtnGrp input{
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
    height: 100%;
    border-radius: 5px;
}


.createGoalBtngrp button:hover, .createGoalBtngrp input:hover, .startSessionBtnGrp input:hover, .startSessionBtnGrp button:hover , .breakBtnGrp input:hover, .breakBtnGrp button:hover {
    background-color: whitesmoke;
}

.chatBox__startSession{
    height: 200px;
}

.sessionFormTimer {
    height: 35%;
}

.startSessionBtnGrp {
    height: 35%;
}

#goalFormSubmit ,#sessionFormSubmit, #breakFormSubmit{
    font-weight: bold;
    font-family: var(--ff-TimerFont);
    color: rgba(0, 0, 0, 0.7);
}
.sessionFormTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.sessionFormTimer label {
    width: 40%;
}

.goalRelatedSession {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 35%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.goalRelatedSession select {
    width: 70%;
    height: 60%;
}

.goalRelatedSession label {
    width: 20%;
}

.startSessionBtnGrp {
    padding-top: 10px;
    padding-bottom: 6px;
}

.chatBox__break {
    height: 25%;
    display: flex;
    flex-direction: column;
}

.breakFormTimer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.breakBtnGrp {
    padding-top: 5px;
    padding-bottom: 2px;
    height: 40%;
}

.breakBtnGrp button, .breakBtnGrp input {
    width: 40%;
}


.chatBox__createGoal, .chatBox__startSession, .chatBox__break {
    display: none;
}

.chatBox p {
    margin: 4px 0;
    background-color: rgb(216, 216, 216);
    width: fit-content;
    padding: 8px 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: black;
    font-family: var(--ff-TimerFont);
    float: right;
}

.sessionFormTitle {
    height: 30%;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
